---
import Badge from './Badge.astro';
interface Project{
    title: string;
    img: string;
    description: Array<string>;
    technologies: Array<string>;
    type:number;
    url?:string;
}

interface Props {
    projects:Project[];
}

const { projects } = Astro.props as Props; 
--- 
 
    {
        projects.map((project,index) =>{
            return <div class={`flex flex-grow flex-col gap-5 ${index%2 != 0 ? "sm:flex-row-reverse" : "sm:flex-row "} shadow-lg rounded-[15px] mt-4 p-6 sm:p-8 bg-gray-100 dark:bg-[#17255422]`}>
                        <div class="flex-1">  
                            <img src={`/assets/projects/${project.img}`} alt="project_img"/>
                        </div>
                        <div class="flex-1">
                            <h2 class="text-gray-600 dark:text-white text-xl font-bold">
                                {project.title}
                            </h2>
                            <div class="flex gap-1 mt-2">
                                {project.type ? 
                                    <span class="text-xs bg-emerald-600 rounded-lg px-2.5 py-0.5 italic">Publico</span> : 
                                    <span class="text-xs bg-gray-600 rounded-lg px-2.5 py-0.5 italic">Privado</span>
                                }
                                {
                                    project.url && <a href={project.url} class="text-xs bg-gray-600 rounded-lg px-2.5 py-0.5">Ver codigo</a>
                                }
                            </div>
                            {project.description.map(p => <p class="text-pretty text-sm sm:text-base font-normal text-gray-500 dark:text-gray-400 my-3 sm:pl-4">{p}</p>)}
                            <div class="flex-col xs:flex-row flex sm:ml-4 border-t-[0.5px] border-t-gray-600 pt-4">
                                {project.technologies.map(p => <Badge className='mb-2' color="blue">{p}</Badge>)}
                            </div>
                        </div>
                    </div>
        })
    }
 